VlocityBuildLog.yaml
.sfdx
.ds_store
scripts
vlocity-temp
.forceignore
Deploy.yaml
Export.yaml
VlocityBuildErrors.log
jest.config.js
.project
.salesforce
.settings
node_modules
.idea
config.json
settings.json
